<div class="form-heading">英単語を登録しよう！</div>
<div class="form users-form">
  <div class="form-body">

    <br>

    <% if @word.nil? %>
      <% @word = Word.new %>
      <h2><%= flash[:words_none] %></h2>
    <% end %>

    <br>
    <br>

    <%= form_for(@word, :url => {:controller => :words, :action => :create}) do |f| %>

      <%= f.label :english, "英語" %>
      <%= f.text_field :english %>

      <%= f.label :japanese, "日本語" %>
      <%= f.text_field :japanese %>

      <%= f.submit "単語登録", class: "btn btn-primary"  %>
    <% end %>

    <li>
      <%= link_to("登録単語一覧", "/words/index") %>
    </li>

  </div>
</div>