<div class="form-heading">個別単語ページ</div>
    <div class="form users-form">
      <div class="form-body">

        <h2><%= @word.english %></h2>
        <h2><%= @word.japanese %></h2>


        <%# 一行目だけだと微妙な例文があるため、二行目まで取得 %>
        <h4>例文</h4>
        <% @example.each do |e| %>
          <%= e %>
          <br>
        <% end %>



        <br>
        <br>
        <%= link_to("編集", "/words/#{@word.id}/edit") %>
        <%= link_to("削除", "/words/#{@word.id}/delete") %>

      </div>
    </div>
